.profile__edit-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  background: transparent;
  box-sizing: border-box;
  transition: opacity 0.2s linear;
}

.profile__edit-button:hover{
  opacity: 0.6;
}