.popup__close{
  position: absolute;
  top: -47px;
  right: -47px;
  width: 60px;
  height: 60px;
  transition: opacity 0.2s linear;
}

.popup__close:hover{
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 499px){
  .popup__close{
    top: -30px;
    right: -25px;
    width: 40px;
    height: 40px;
  }
}